.main-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

body {
  background-color: #ecf0f5;
  height: auto !important;
  min-height: 100% !important;
}

.margin_left_5 {
  margin-left: 5px;
}

.margin_left_10 {
  margin-left: 10px;
}

.margin_right_5 {
  margin-right: 5px;
}

.margin_right_10 {
  margin-right: 10px;
}

.loading_page {
  width: 50px;
  height: 50px;
}

.width_10 {
  width: 10%;
}

.width_20 {
  width: 20%;
}

.width_30 {
  width: 30%;
}

.width_40 {
  width: 40%;
}

.width_50 {
  width: 50%;
}

.width_60 {
  width: 60%;
}

.width_70 {
  width: 70%;
}

.width_80 {
  width: 80%;
}

.width_90 {
  width: 90%;
}

.width_100 {
  width: 100%;
}

.color_red {
  color: red;
}

.color_green {
  color: green;
}

.color_blue {
  color: #3c8dbc;
}

.btn-edit {
  background-color: #008000;
  border-color: #019201;
  color: white;
}

.btn-edit:hover,
.btn-edit:active,
.btn-edit.hover {
  background-color: #016d01;
  color: white;
}

.table-actions {
  width: 20%;
}

.table-actions-list {
  width: 30%;
}

.height_50 {
    height: 50px;
}
